.navbar-container{
  background-color: var(--main-color);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 3.2rem;
  height: 8vh;
}

.navbar-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15rem;
}
.navbar-icons > img:first-child {
  width: 1.4rem;
  height: 1.4rem;
  object-fit: cover;
}
.navbar-icons > img:hover {
  cursor: pointer;
}

.logo:hover {
  cursor: pointer;
}
.link-active {
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
}

.link {
  border: 1px solid #ffffff;
  padding: 5px 10px;
  border-radius: 10px;
}

