<section class="table">
  <div class="table-containers">
    <table class="table-grid">
      <tr class="header-table">
        <th>Nombre</th>
        <th>Vivo</th>
        <th>Especie</th>
        <th>Género</th>
        <th>Origen</th>
        <th>Locación</th>
        <th>Capitulos</th>
        <th>Fecha</th>
        <th>Acciones</th>
      </tr>
       <tr *ngFor="let character of characters" class="row-tables">
        <app-character [character]="character"></app-character>
       </tr>
    </table>
  </div>
</section>
