
.modal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.modal-body{
  width: 25rem;
  height: 25rem;
  display: grid;
  place-items: center;
}
 .new-title {
  text-align: center;
}
.icon-heart {
  margin-right: 1rem;
   cursor: pointer;
}
