<section class="search-caracters">
  <div class="search-caracters-container">
    <div class="total-characters">
      <h2 class="title-total-characters">Total de personajes <span class="span-total">20</span> <!-- {{totalCharacters}} --></h2>
    </div>
    <div  class="status-characters">
      <img [ngStyle]="iconStyle" [src]="imageStatusLived" alt="">
      <h2 class="title-status-characters">{{ textCharactersLived | titlecase }} <span class="span-status">8</span> <!-- {{totalCharacters}} --></h2>
      <span class="pipe-separate"> | </span>
      <img [ngStyle]="iconStyle" [src]="imageStatusDead" alt="">
      <h2 class="title-status-characters">{{ textCharactersDead | titlecase }} <span class="span-status">6</span> <!-- {{totalCharacters}} --></h2>
    </div>
    <div class="search-characters-input">
      <input type="text" placeholder="Buscar" class="input-search-characters">
    </div>
  </div>
</section>
