.row-tables {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  color: var(--main-color);
  padding: 1.2rem 0;
}
.row-tables > td {
  font-size: 1.0rem;
  font-weight: 300;
  justify-self: center;
}
.image-character {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}
.image-character:hover {
  cursor: pointer;
}
