<tr class="row-tables">
  <td>{{ character.name }} </td>
  <!-- Pendiente por implementar NgSwitch -->
  <ng-container [ngSwitch]="character.status">
    <td *ngSwitchCase="'Alive'">
    <img #isAlived [src]="imageStatusLived" alt="">
    </td>
    <td *ngSwitchCase="'Dead'">
      <img [src]="imageStatusDead" alt="">
  </td>
    <td *ngSwitchCase="'unknown'">
      <img [src]="imageUnknown" alt="">
    </td>
    <td *ngSwitchDefault>
      <img [src]="imageUnknown" alt="">
    </td>
  </ng-container>
  <td>{{ character.species }}</td>
  <td>{{ character.gender }}</td>
  <td>{{ character.origin.name }}</td>
  <td>{{ character.location.name }}</td>
  <td>{{ character.episode.length }}</td>
  <td>{{ character.created | date: 'dd/MM/yyyy' }}</td>
  <a [routerLink]="['/character', character.id ]"><img class="icon-heart" [src]="iconHeart" alt="Icono de Corazón"></a>
  <td><!-- <img [src]="imagePaisage" alt=""> --><!-- <button (click)="openModalWithId(character.id)" type="button">Acciones</button> --> <app-pop-up [nameModal]="character.name" [imageModal]="character.image" ></app-pop-up></td>
  <!-- <div *ngIf="modalSwitch == true" class="div">
    <app-pop-up></app-pop-up>
  </div> -->
  <!-- <td><img class="image-character" [src]="character.image" alt=""></td> -->
</tr>
